.mainContainer{
    width: 600px;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.3),
   0px 2px 4px -1px rgba(0, 0, 0, 0.3),
   0px -2px 6px -1px rgba(0, 0, 0, 0.3),
   0px -2px 4px -1px rgba(0, 0, 0, 0.3);
}

@media (max-width:584px){
    .mainContainer{
        width: 95vw;
    }   
}